<h1>New product size</h1>

<% form_for(@product_size) do |f| %>
  <%= f.error_messages %>
	 <p>
	  <%= f.label :product_id %><br />
    <%= f.collection_select :product_id, Product.all, :id, :pname %>
  </p>

   <p>
    <%= f.label :size_id %><br />
    <%= select_tag 'product[size][]', options_for_select(Size.all, :name), { :multiple => true, :size =>5, :id => "product_sizes" } %>


  </p>

    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', product_sizes_path %>
