<h1>Listing Categories</h1>

<table>
  <tr>
    
    <th>Category</th>
    <th>Description</th>
    <th>Products</th>
  </tr>

<% @categories.each do |category| %>
	
  <tr>
    
    <td><%=h category.catname %></td>
    <td><%=h category.description %></td>
    <td><%=h category.products.collect(&:pname).join(',') %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New category', new_category_path %>
<%= link_to 'Assign Category', new_product_path %>
<%= link_to 'Go to Products', products_path %>
<!--<%= link_to 'Logout', session, :confirm => 'Are you sure You want to logout?',:method => :delete %>-->
<%= link_to 'Logout', logout_path %>

